<!DOCTYPE html>
<html>
    <head>
      <%- include ('partials/head'); %>
    </head>
    <body>
      <%- include ('partials/menu'); %>
        <div>
            <h1>Home Page</h1>
            <p><%= username %></p>
        </div>
    </body>
</html>
